@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VERKLEGT NÁMSKEIÐ</h1>
    <p class="lead">Þetta er verklegt námskeið á 2. önn</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>